* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(211, 136, 104);
  color: rgb(100, 121, 52);
  text-shadow: 2px 1px 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(images/restaurantimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}