* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(135deg, rgb(8, 163, 39) 60%, rgb(255, 0, 0));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-size: 1.5em;
}